<div ng-include src="'partialsAdmin/menuAdmin.html'"></div>
  <!-- Corpo do site -->
  <div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="alert alert-warning" role="alert" ng-show="mensagem.texto">
        {{mensagem.texto}}
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Produtos</div>
        <div class="panel-body">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default" >
                <span class="glyphicon glyphicon-search cor-icones" aria-hidden="true"></span> <span class="cor-icones">Buscar</span>
              </button>
            </div>
            <input ng-model="filtro" type="text" class="form-control" placeholder="Digite a sua busca" />
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th>#</th>
          </thead>
          <tbody>
            <tr ng-repeat="produto in produtos | filter: filtro">
              <td>
                {{produto.id}}
              </td>
              <td>
                <a ng-href="/eng5/#/editproduto/{{produto.id}}">{{produto.nome}}</a>
              </td>
              <td>
                {{produto.quantidade}}
              </td>
              <td>
                {{produto.categoria.nome}}
              </td>
              <td>
                <button class="btn btn-warning" ng-click="remove(produto)">Remover</button>
              </td>
            </tr>
          </tbody>

          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-2"></div>

  <!-- Fim corpo site -->
  </div>
<div ng-include src="'partials/rodape.html'"></div>
