<div ng-include src="'partials/menuCliente.html'"></div>

  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Atomic Doge</h1>
      <p>Nós do Atomic Doge somos uma empresa comprometida com sua felicidade, trazendo os mais diversoso produtos dos mais variados gostos para que você seja cada vez mais feliz!</p>
      <p>O Atomic Doge é um site muito bom, venha fazer parte dele, juntos vamos ser felizes</p>
      <p>Adiquira varios DOGES com a gente!</p>
      <p>Compre Doges e descubra o jeito doge de se viver e ser feliz</p>
      <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Cadastre-se já »</a>
      </p>
    </div>
  </div>

<div ng-include src="'partials/rodape.html'"></div>
