<footer class="footer">
  <div class="container">
    <div class="row">
        <!-- Mapa do site -->
        <div class="col-md-4">

          <div class="panel">
            <div class="panel-heading text-center">
              <h4 class="panel-title">Mapa do Site</h4>
            </div>
            <table class="table text-left">
              <tbody>
                <tr>
                  <td><a href="index.html" >Home</a></td>
                </tr>
                <tr>
                  <td><a href="#" >Quem somos</a></td>
                </tr>
                <tr>
                  <td><a href="#" >Login</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Contato -->
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-heading text-center">
              <h4 class="panel-title">Contato</h4>
            </div>
            <address>
              <strong>AtomicDoge, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Telefone">P:</abbr> (123) 456-7890
            </address>
          </div>
        </div>

        <!-- Area Restrita -->
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-heading text-center">
              <h4 class="panel-title">Administrador</h4>
            </div>
            <div class="panel-body">
              <a ng-href="/eng5/#/admin" class="area-restrita">Area Restrita</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</footer>
